<mjml>
    <mj-head>
        <mj-preview>preview</mj-preview>
        <mj-title>Chocolissimo</mj-title>
        <mj-attributes>
            <mj-all line-height="1" font-family="Arial"; align="center" />
        </mj-attributes>
        <mj-breakpoint width="600px" />
        <mj-style inline="inline">
            .text-right {
            text-align: right!important;
            }
            .bg-white {
            background-color: #ffffff;
            }
            .bg-black {
            background-color: "#000000";
            }
            .bg-white-outlook {
            background-color: #ffffff;
            }
            .wrapper {
            border: 1px solid #e9e9e9;
            }
        </mj-style>
        <mj-style>
            .bg-white-outlook {
            background-color: #ffffff;
            }

            .bg-white {
            background-color: #ffffff;
            }

            .wrapper-outlook {
            border-right: 1px solid #e9e9e9;
            }

            @media only screen and (max-width: 599px) {

            .duza_ikona {
            width: 120px!important;
            margin: auto;
            padding: 20px 50px 10px;
            }

            .wrapper {
            max-width: 322px!important;
            }

            .stopka-wrapper {
            max-width: 320px!important;
            }
            }

            @media only screen and (min-width: 600px) {
            .kolumna-100 {
            max-width: 600px!important;
            }

            .kolumna {
            max-width: 300px!important;
            }

            .wrapper {
            max-width: 600px!important;
            }

            .duza_ikona img {
            width: 100px!important;
            margin: auto;
            }
            }
        </mj-style>
    </mj-head>
    <mj-body background-color="#f7f7f7">
        <mj-wrapper css-class="stopka-wrapper" padding="0px">
            <mj-section full-width="full-width" padding="0px">
                <mj-column>
                    <mj-text font-size="11px" color="#000">
                        Falls Sie Probleme mit der Darstellung dieser Email haben, können Sie diese <a href="http://newsletter.chocolissimo.de/m/[MAILING_ID]/[HASH]" style="text-decoration: underline; font-weight: 700; color: #3d3a35;">hier</a> in Ihrem Browser ansehen.
                    </mj-text>
                </mj-column>
            </mj-section>
        </mj-wrapper>

        <mj-wrapper css-class="wrapper" padding="0px">
            <mj-section padding="0px">
                <mj-group css-class="kolumna-100" background-color="#ffffff">
                    <mj-column vertical-align="middle" padding="20px 0px" background-color="#fff">
                        <mj-image href="https://chocolissimo.de?utm_source=newsletter&utm_medium=newsletter-270619&utm_campaign=Newsletter2019&utm_term=logo" width="200px" src="img/logo.png" padding="0px" background-color="#fff"></mj-image>
                    </mj-column>
                </mj-group>
            </mj-section>
            
            <mj-section background-color="#000000" padding="0px">
                <mj-column vertical-align="top" background-color="#000000">
                    <mj-image href="https://www.chocolissimo.de/do/cat/pralinen-fuer-sorten-liebhaber/Fuer-Sorten-Liebhaber?utm_source=newsletter&utm_medium=newsletter-270619&utm_campaign=Newsletter2019&utm_term=KV" fluid-on-mobile="true" padding="0px" src="img/kv_1.jpg"></mj-image>
                </mj-column>
                <mj-column padding="5px 0 0" background-color="#000000">
                    <mj-text padding="5px 0" font-size="22px" font-weight="500" color="#f4a600" line-height="26px">
                        Der Sommer <br>
                        ist da!
                    </mj-text>
                    <mj-text font-size="14px" font-weight="500" color="#ffffff" padding="5px 5px" line-height="22px">
                        Behalten Sie mit unserer Schokolade <br> einen kühlen Kopf. Entdecken Sie <br>unsere Highlights mit <span style="color:#f4a600;"></span>5€ Rabatt!
                        <br> Code*: <span style="color: #f4a600; font-weight: 700">CH5SO</span>
                    </mj-text>
                    <mj-button href="https://www.chocolissimo.de/do/cat/pralinen-fuer-sorten-liebhaber/Fuer-Sorten-Liebhaber?utm_source=newsletter&utm_medium=newsletter-270619&utm_campaign=Newsletter2019&utm_term=KV_CTA" background-color="#f4a600" inner-padding="10px 0px" border-radius="5px" color="#000" font-weight="600" font-size="18px" line-height="22px" width="200px">
                        Hier entdecken&nbsp;&nbsp;>
                    </mj-button>
                </mj-column>
            </mj-section>
    
<!--            <mj-section background-color="#000000" padding="0px">-->
<!--                <mj-column vertical-align="top" background-color="#000000">-->
<!--                    <mj-image href="https://www.chocolissimo.de/do/cat/pralinen-fuer-sorten-liebhaber/Fuer-Sorten-Liebhaber?utm_source=newsletter&utm_medium=newsletter-270619&utm_campaign=Newsletter2019&utm_term=KV" fluid-on-mobile="true" padding="0px" src="img/kv_1.jpg"></mj-image>-->
<!--                </mj-column>-->
<!--            </mj-section>-->
            
            <mj-section padding="0px">
                <mj-column css-class="kolumna bg-white">
                    <mj-image href="https://www.chocolissimo.de/do/item/3381-PLXXXX/Fresh-Lemon-Obsession?utm_source=newsletter&utm_medium=newsletter-270619&utm_campaign=Newsletter2019&utm_term=Fresh_Lemon" fluid-on-mobile="true" padding="0px" src="img/produkt_1.jpg"></mj-image>
                    <mj-text font-size="18px" color="#402016" line-height="120%" padding="10px 10px 10px" container-background-color="#ffffff">
                        Fresh Lemon <br>
                        Obsession
                    </mj-text>
                    <mj-button href="https://www.chocolissimo.de/do/item/3381-PLXXXX/Fresh-Lemon-Obsession?utm_source=newsletter&utm_medium=newsletter-270619&utm_campaign=Newsletter2019&utm_term=Fresh_Lemon_CTA" background-color="#f4a600" inner-padding="10px 20px" border-radius="5px" color="#000000" font-size="18px" line-height="22px" font-weight="600" padding="0px" container-background-color="#fff" width="200px"container-background-color="#fff" width="200px">
                        Hier bestellen&nbsp;&nbsp;>
                    </mj-button>
                </mj-column>
                <mj-column css-class="kolumna bg-white">
                    <mj-image href="https://www.chocolissimo.de/do/item/1985-DEXXXX/Pralinen-Mix?utm_source=newsletter&utm_medium=newsletter-270619&utm_campaign=Newsletter2019&utm_term=Pralinen_Mix" fluid-on-mobile="true" padding="0px" src="img/produkt_2.jpg"></mj-image>
                    <mj-text font-size="18px" color="#402016" line-height="120%" padding="10px 10px 10px" container-background-color="#ffffff">
                        Pralinen-Mix
                        <br>&nbsp;
                    </mj-text>
                    <mj-button href="https://www.chocolissimo.de/do/item/1985-DEXXXX/Pralinen-Mix?utm_source=newsletter&utm_medium=newsletter-270619&utm_campaign=Newsletter2019&utm_term=Pralinen_Mix_CTA" background-color="#f4a600" inner-padding="10px 20px" border-radius="5px" color="#000000" font-size="18px" line-height="22px" font-weight="600" padding="0px" container-background-color="#fff" width="200px"container-background-color="#fff" width="200px">
                        Hier bestellen&nbsp;&nbsp;>
                    </mj-button>
                </mj-column>
            </mj-section>
    
    
            <mj-section padding="0px">
                <mj-column css-class="kolumna bg-white">
                    <mj-image href="https://www.chocolissimo.de/do/item/1210-PLXXXX/Fruit-Obsession?utm_source=newsletter&utm_medium=newsletter-270619&utm_campaign=Newsletter2019&utm_term=Fruit_Obsession" fluid-on-mobile="true" padding="0px" src="img/produkt_3.jpg"></mj-image>
                    <mj-text font-size="18px" color="#402016" line-height="120%" padding="10px" container-background-color="#ffffff">
                        Fruit <br>
                        Obsession
                    </mj-text>
                    <mj-button href="https://www.chocolissimo.de/do/item/1210-PLXXXX/Fruit-Obsession?utm_source=newsletter&utm_medium=newsletter-270619&utm_campaign=Newsletter2019&utm_term=Fruit_Obsession_CTA" background-color="#f4a600" inner-padding="10px 20px" border-radius="5px" color="#000000" font-size="18px" line-height="22px" font-weight="600" padding="0px" container-background-color="#fff" width="200px">
                        Hier bestellen&nbsp;&nbsp;>
                    </mj-button>
                </mj-column>
                <mj-column css-class="kolumna bg-white">
                    <mj-image href="https://www.chocolissimo.de/do/item/0852-DEXXXX/FreshFruity-Maxi?utm_source=newsletter&utm_medium=newsletter-270619&utm_campaign=Newsletter2019&utm_term=Fresh_Fruity_Maxi" fluid-on-mobile="true" padding="0px" src="img/produkt_4.jpg"></mj-image>
                    <mj-text font-size="18px" color="#402016" line-height="120%" padding="10px" container-background-color="#ffffff">
                        Fruit <br>
                        Obsession
                    </mj-text>
                    <mj-button href="https://www.chocolissimo.de/do/item/0852-DEXXXX/FreshFruity-Maxi?utm_source=newsletter&utm_medium=newsletter-270619&utm_campaign=Newsletter2019&utm_term=Fresh_Fruity_Maxi_CTA" background-color="#f4a600" inner-padding="10px 20px" border-radius="5px" color="#000000" font-size="18px" line-height="22px" font-weight="600" padding="0px" container-background-color="#fff" width="200px">
                        Hier bestellen&nbsp;&nbsp;>
                    </mj-button>
                </mj-column>
            </mj-section>

            <mj-section padding="0px">
                <mj-column css-class="kolumna-100" background-color="#fff">
                    <mj-spacer height="20px"></mj-spacer>
                </mj-column>
            </mj-section>

            <mj-section background-color="#000000" direction="rtl" padding="0px">
                <mj-column vertical-align="top" background-color="#000000" padding="10px 0 5px">
                    <mj-text padding="10px 0px" font-size="22px" font-weight="500" color="#f4a600" line-height="26px">
                        Schokolade im Sommer <br>
                        bestellen? Kein Problem
                    </mj-text>
                    <mj-text font-size="16px" font-weight="500" color="#ffffff" padding="10px 5px 5px" line-height="22px">
                        Unsere Lieferung erreicht <br>
                        Sie gekühlt dank des <br>
                        beigelegten Coolpacks.
                    </mj-text>
                    <mj-button href="https://www.chocolissimo.de/do/choco/addons?utm_source=newsletter&utm_medium=newsletter-270619&utm_campaign=Newsletter2019&utm_term=addons_CTA" background-color="#f4a600" inner-padding="10px 15px" border-radius="5px" color="#000" font-weight="600" font-size="18px" line-height="22px" width="200px">
                        Hier entdecken&nbsp;&nbsp;>
                    </mj-button>
                </mj-column>
                <mj-column vertical-align="top" background-color="#000000">
                    <mj-image href="https://www.chocolissimo.de/do/choco/addons?utm_source=newsletter&utm_medium=newsletter-270619&utm_campaign=Newsletter2019&utm_term=addons" fluid-on-mobile="true" padding="0px" src="img/kv_2.jpg"></mj-image>
                </mj-column>
            </mj-section>

            <mj-section padding="0px">
                <mj-column css-class="kolumna-100" background-color="#fff">
                    <mj-spacer height="10px"></mj-spacer>
                </mj-column>
            </mj-section>

            <mj-section css-class="" padding="0px">
                <mj-column css-class="kolumna-33 bg-white">
                    <mj-image css-class="duza_ikona" href="https://www.chocolissimo.de/do/page/versandinformationen?utm_source=newsletter&utm_medium=newsletter-270619&utm_campaign=Newsletter2019&utm_term=lieferung" src="img/i1-t.png" container-background-color="#fff" padding="20px 40px 10px"></mj-image>
                    <mj-text font-size="16px" font-weight="600" color="#402016" padding="10px" line-height="120%" container-background-color="#fff">
                        <a href="https://www.chocolissimo.de/do/page/versandinformationen?utm_source=newsletter&utm_medium=newsletter-270619&utm_campaign=Newsletter2019&utm_term=lieferung" style="text-decoration: none; color: #402016; ">
                            Versandkostenfrei <br> ab 40 EUR
                        </a>
                    </mj-text>
                </mj-column>
                <mj-column css-class="kolumna-33 bg-white">
                    <mj-image css-class="duza_ikona" href="https://www.chocolissimo.de/do/page/geschenk?utm_source=newsletter&utm_medium=newsletter-270619&utm_campaign=Newsletter2019&utm_term=geschenk" src="img/i2-t.png" container-background-color="#fff" padding="20px 40px 10px"></mj-image>
                    <mj-text font-size="16px" font-weight="600" color="#402016" padding="10px" line-height="120%" container-background-color="#fff">
                        <a href="https://www.chocolissimo.de/do/page/geschenk?utm_source=newsletter&utm_medium=newsletter-270619&utm_campaign=Newsletter2019&utm_term=geschenk" style="text-decoration: none; color: #402016; ">Geschenkservice
                            <br>&nbsp;</a>
                    </mj-text>
                </mj-column>
                <mj-column css-class="kolumna-33 bg-white">
                    <mj-image css-class="duza_ikona" href="https://www.chocolissimo.de/do/page/qualitaetsversprechen?utm_source=newsletter&utm_medium=newsletter-270619&utm_campaign=Newsletter2019&utm_term=qualitaetsversprechen" src="img/i3-t.png" container-background-color="#fff" padding="20px 40px 10px"></mj-image>
                    <mj-text font-size="16px" font-weight="600" color="#402016" padding="10px" line-height="120%" container-background-color="#fff">
                        <a href="https://www.chocolissimo.de/do/page/qualitaetsversprechen?utm_source=newsletter&utm_medium=newsletter-270619&utm_campaign=Newsletter2019&utm_term=qualitaetsversprechen" style="text-decoration: none; color: #402016; ">
                            Qualitätsgarantie<br>&nbsp;</a>
                    </mj-text>
                </mj-column>
            </mj-section>

            <mj-section padding="0px">
                <mj-column css-class="kolumna-100" background-color="#fff">
                    <mj-spacer height="10px"></mj-spacer>
                </mj-column>
            </mj-section>

            <mj-section padding="0px">
                <mj-column css-class="kolumna-100" vertical-align="middle" background-color="#000" padding="10px">
                    <mj-social font-size="16px" icon-size="30px" mode="horizontal" align="center" padding="0px" inner-padding="10px">
                        <mj-social-element src="img/fb.png" href="https://www.facebook.com/chocolissimo.de?utm_source=newsletter&utm_medium=newsletter-270619&utm_campaign=Newsletter2019&utm_term=fb">
                        </mj-social-element>
                        <mj-social-element src="img/in.png" href="https://www.instagram.com/chocolissimo_de/?utm_source=newsletter&utm_medium=newsletter-270619&utm_campaign=Newsletter2019&utm_term=insta">
                        </mj-social-element>
                    </mj-social>
                </mj-column>
            </mj-section>
        </mj-wrapper>

        <mj-wrapper css-class="stopka-wrapper" padding="0px">

            <mj-section padding="48px 0px 20px">
                <mj-column css-class="kolumna-100" padding="0px">
                    <mj-text font-size="11px" line-height="21px" color="#3d3a35" padding="0px">
                        *Gültig bis zum 30.06.2019; Mindestbestellwert 40 €; Gilt nur für Privatkunden; 1x pro Person einlösbar; Nicht mit anderen Rabatten kombinierbar; Gilt nicht für Versandkosten.                                                                                                                                                                                                          MM Brown Deutschland GmbH
                    </mj-text>
                </mj-column>
            </mj-section>

            <mj-section padding="48px 0px 20px">
                <mj-column padding="0px">
                    <mj-text padding="0px" font-size="11px" line-height="21px" color="#3d3a35">
                        MM Brown Deutschland GmbH <br>o
                        Eschborner Landstraße 55 <br>o
                        60489 Frankfurt am Main
                    </mj-text>
                </mj-column>
                <mj-column padding="0px">
                    <mj-text padding="0px" font-size="11px" line-height="21px" color="#3d3a35">
                        Tel.+49 69 254 271 29 <br>
                        E-Mail: info@chocolissimo.de <br>
                        www.chocolissimo.de
                    </mj-text>
                </mj-column>
                <mj-column padding="0px">
                    <mj-text padding="0px" font-size="11px" line-height="21px" color="#3d3a35">
                        Geschäftsführung: <br>
                        Rafael Kladzinski <br>
                        USt-ID-Nr: DE 251 106 504 <br>
                        HRB 78325 | Amtsgericht Frankfurt am Main
                    </mj-text>
                </mj-column>
            </mj-section>

            <mj-section padding="0px 0px">
                <mj-column css-class="kolumna-100" padding="0px">
                    <mj-text font-size="11px" line-height="21px" color="#3d3a35" padding="0px">
                        Sie erhalten diese E-Mail, weil Sie sich für unseren Newsletter registiert haben oder bei uns bereits eine Bestellung getätigt haben. Sie können der Verwendung Ihrer E-Mail-Adresse zu eigenen Werbezwecken jederzeit widersprechen, ohne dass hierfür andere als die Übermittlungskosten nach den Basistarifen entstehen.
                    </mj-text>
                </mj-column>
            </mj-section>
            <mj-section padding="20px 0px">
                <mj-column css-class="kolumna-100" padding="0px">
                    <mj-text font-size="11px" line-height="21px" color="#3d3a35" padding="0px">
                        Wenn Sie diese E-Mail (an: {EMAIL}) nicht mehr empfangen möchten, können Sie diese <a href="http://newsletter.chocolissimo.de/rmftlp.php?cid=[CTID]&amp;mid=[MAILING_ID]&amp;h=[CTID]-[USER_ID_SECURE]" style="text-decoration: underline; font-weight: bold; color: #3d3a35;">hier</a> kostenlos abbestellen.
                    </mj-text>
                    <mj-spacer></mj-spacer>
                </mj-column>
            </mj-section>
        </mj-wrapper>
    </mj-body>
</mjml>



